---
export interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap"
      rel="stylesheet"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="outer-container">
      <slot />
    </div>
    <style is:global>
      :root {
        --backgroundblack: #1e1e1e;
        --vscodegreen: #6a9955;
        --vscodered: #f44747;
        --vscodeblue: #569cd6;
        --sectionbackground: rgba(31, 40, 31);
      }
      * {
        scrollbar-width: none;
        -ms-overflow-style: none;
      }
      *::-webkit-scrollbar {
        display: none;
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: var(--backgroundblack);
      }
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 141.4vw;
      }

      .outer-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1.5vw 2vw 1.5vw 2vw;
        box-sizing: border-box;
        overflow-y: auto;
        background-color: rgb(24, 24, 24);
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
  <script></script>
</html>
